# Dependencies from other projects

# Test files

# Local configuration files
archived/
config/machine_config.json
functions/load_machine_config.py

# Results
mvts_transformer/experiments/*
# Except the .gitkeep file (the exclamation mark is an exception rule)
!mvts_transformer/experiments/.gitkeep